{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/900x300/?bar" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/900x300/?restaurant" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/900x300/?food" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-3">
            <h1 class="text-center"> The Crown Jewels</h1>
            <h3 class="text-center"> London's Finest Gastropub</h3>
            <h4 class="text-center"> Food served all day!</h4>
            <p class="text-center"> Welcome to the Crown Jewels. Built in 1565, the Crown Jewels is the perfect "Olde Worlde" riverside setting to enjoy fine food & drinks</p>
            <p class="text-center"> Enjoy locally sourced seasonal fare, as well as gastro classics, fresh salads and amazing deserts!</p>

            <table class="table table-striped table table-bordered" style="width:350px;">
              <thead class="thead">
                <th>Day</th>
                <th>Hours</th>
              </thead>
              <tbody class="table table-striped">
                <tr>
                  <td>Monday</td>
                  <td>11:00 AM - 10:00 PM</td>
                </tr>
                <tr>
                  <td>Tuesday</td>
                  <td>11:00 AM - 10:00 PM</td>
                </tr>
                <tr>
                  <td>Wednesday</td>
                  <td>11:00 AM - 10:00 PM</td>
                </tr>
                <tr>
                  <td>Thursday</td>
                  <td>11:00 AM - 10:00 PM</td>
                </tr>
                <tr>
                  <td>Friday</td<>
                    <td>11:00 AM - 10:00 PM</td>
                </tr>
                <tr>
                  <td>Saturday</td>
                  <td>11:00 AM - 10:00 PM</td>
                </tr>
                <tr>
                  <td>Sunday</td>
                  <td>11:00 AM - 10:00 PM</td>
                </tr>
              </tbody>
            </table>
        


            <h4 class="text-center"> Please sign in or sign up to book a table!</h4>
        </div>
    </div>
</div>


{%endblock%}