{% extends "base.html" %}

{% block content %}

<div class="container-fluid mt-8">
    <h2 class="text-center my-5"> Manage your bookings</h2>
</div>

<div class="container d-flex justify-content-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">No. of Guests</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in reservations %}
            <tr>
                <td> {{booking.id}}</td>
                <td> {{booking.name}} </td>
                <td> {{booking.guests}} </td>
                <td> {{booking.date}} </td>
                <td> {{booking.time}} </td>
                <td>
                    <a href="update/{{booking.id}}"><button class="btn btn-warning" id="update"
                            aria-label="update button">Update</button></a>
                </td>
                <td>
                    <a href="delete/{{booking.id}}"><button class="btn btn-danger" id="delete"
                            aria-label="delete button">Delete</button></a>
                </td>

                {% endfor %}
        </tbody>
    </table>

</div>


{%endblock%}